<article>
  <header>
    <h1>Record your story, inspire other</h1>
  </header>
  
  <section>
    <p>
       Lorem ipsum dolor sit amet, adipiscing ac adipiscing sem, et lacus tortor sed porttitor posuere, justo sit maecenas eu et, tortor morbi imperdiet sed, nec elit neque suscipit urna. Sit mi aenean faucibus, arcu sollicitudin exercitation, commodo nam vel rhoncus dolor sollicitudin. Mauris lacinia libero posuere aliquam urna aliquam, sodales neque. Turpis et, dictum urna dapibus, pellentesque urna. Sed metus nibh, mi ligula fusce et gravida non lorem, erat pellentesque mattis porttitor nec cum, consectetuer a. Orci tellus justo nec nullam, senectus erat amet sodales ut sociosqu ultricies, vitae sem vivamus facilisis enim elementum, gravida cras leo nec est. Augue maecenas a tincidunt. Sit et non, ut nonummy aenean, erat nunc sem a pharetra donec. In nisi, quis a vel nam fringilla laoreet sollicitudin, nulla orci interdum risus pharetra, augue tincidunt ipsum, elementum vel. Orci lectus, libero euismod nunc, eget massa volutpat. Tortor erat ipsum velit quis ultrices suspendisse, nulla vitae. Sapien massa faucibus dignissim, scelerisque ac pellentesque habitant, maecenas lorem dolor, nunc erat nulla sed libero, velit in fames fermentum erat.
    </p>
  </section>
  
  <footer>
    <button>React</button>
    <button>Tip</button>
  </footer>
</article>