<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <h1 id="brand">{{ app_name }}</h1>
        {% include 'partials/menu.html.twig' %}
        {% block body %}
            {% include 'partials/articles/podcast.html.twig' %}
        {% endblock %}
        {% include 'partials/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>